*,
*::before,
*::after {
    box-sizing: border-box;
}

div,
html,
body,
p,
ul,
figure,
button,
h1,
h2,
h3,
h4,
aside,
select,
textarea,
input,
form {
    border: none;
    margin: 0;
    padding: 0;
    list-style: none;
    resize: none;
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
}

input,
button,
video,
audio {
    color: inherit;
    font-size: inherit;
    background-color: transparent;
    display: block;
}

select,
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
}

select:focus,
textarea:focus,
button:focus,
input:focus {
    outline: none;
}

a {
    color: inherit;
    text-decoration: none;
}

img,
label {
    display: block;
}

/* ::-webkit-scrollbar {
	width: 0;
} */

input {
    font-size: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    background-image: none !important;
    background-color: transparent !important;
}
