$red: #ff595e;
$blue: #0a2463;
$yellow: #f9cb40;

$cursors: pointer auto inherit;

$theme-colors: (
    primary: $red,
    secondary: $blue,
    warning: $yellow,
);

$btn-background: #ff595e;

$tablet: 568px;
$desktop: 768px;
$pre-pre-desktop: 1100px;
$pre-desktop: 1268px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@mixin pre-desktop {
    @media (max-width: #{$pre-desktop}) and (min-width: #{$desktop}) {
        @content;
    }
}

@mixin pre-pre-desktop {
    @media (max-width: #{$pre-pre-desktop}) and (min-width: #{$desktop}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}

@mixin fcolumn($gap) {
    display: flex;
    flex-direction: column;
    row-gap: $gap;
}

@mixin margin {
    margin-left: auto;
    margin-right: auto;
}

@mixin framed-globally($px) {
    padding-left: calc(var(--main-padding) + $px);
    padding-right: calc(var(--main-padding) + $px);
}

@function hextorgb($hex) {
    @return red($hex), green($hex), blue($hex);
}

:root {
    /* additional */
    --space-row: 30px;

    /* colors */
    --black: #000000;
    --black-light: #383838;
    --white: #fff;
    --white-high: #ebebeb;
    --secondary: #868686;
    --secondary-lighter: #cccccc;
    --secondary-medium-light: #e6e6e6;
    --secondary-super-light: #f6f6f6;

    // paddings
    --main-padding: 35px;
    @include tablet {
        --main-padding: 50px;
    }

    @include desktop {
        --main-padding: 250px;
    }

    @include pre-desktop {
        --main-padding: 150px;
    }

    @include pre-pre-desktop {
        --main-padding: 80px;
    }
}

// --secondary: #928f94;
// --secondary-lighter: #c4c4c4;
// --secondary-super-light: #e5e5e5;

// --black: #292929;
// --black-light: #3e3c41;
// --bg-main: #ffa800;
// --bg-main-medium: #ffd98f;
