$desktop: 500px;

$red: #ff595e;
$blue: #0a2463;
$yellow: #f9cb40;

$cursors: pointer auto inherit;

$theme-colors: (
    primary: $red,
    secondary: $blue,
    warning: $yellow,
);

$btn-background: #ff595e;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@mixin fcolumn($gap) {
    display: flex;
    flex-direction: column;
    row-gap: $gap;
}

@mixin margin {
    margin-left: auto;
    margin-right: auto;
}

@function hextorgb($hex) {
    @return red($hex), green($hex), blue($hex);
}

:root {
    /* paddings */
    --main-left-padding: 30px;
    --main-right-padding: 30px;

    /* borders */

    /* additional */
    --space-row: 30px;

    /* colors */
    --black: #000000;
    --black-light: #383838;
    --white: #fff;
    --white-high: #ebebeb;
    --secondary: #868686;
    --secondary-lighter: #cccccc;
    --secondary-medium-light: #e6e6e6;
    --secondary-super-light: #f6f6f6;
    // --black-rgb: hextorgb(#000000);

    @include desktop {
        --main-left-padding: 50px;
        --main-right-padding: 50px;
    }
}

// --secondary: #928f94;
// --secondary-lighter: #c4c4c4;
// --secondary-super-light: #e5e5e5;

// --black: #292929;
// --black-light: #3e3c41;
// --bg-main: #ffa800;
// --bg-main-medium: #ffd98f;
