:root {
    --black-filter: brightness(0) saturate(100%) invert(13%) sepia(9%) saturate(0%)
        hue-rotate(240deg) brightness(107%) contrast(95%);

    --white-filter: brightness(0) saturate(100%) invert(100%) sepia(93%) saturate(0%)
        hue-rotate(201deg) brightness(106%) contrast(106%);

    --bg-main-filter: brightness(0) saturate(100%) invert(62%) sepia(25%) saturate(3221%)
        hue-rotate(2deg) brightness(109%) contrast(103%);

    --secondary-filter: brightness(0) saturate(100%) invert(98%) sepia(0%) saturate(222%)
        hue-rotate(195deg) brightness(83%) contrast(84%);

    --secondary-arrow-filter: invert(67%) sepia(8%) saturate(137%) hue-rotate(233deg)
        brightness(83%) contrast(92%);
}

/* ics with setted filters */

/* filters */
.filter-black {
    filter: var(--black-filter);
}

.filter-white {
    filter: var(--white-filter);
}

.filter-secondary {
    filter: var(--secondary-filter);
}

.filter-main {
    filter: var(--bg-main-filter);
}
